.thumbnail {
  width: 100%;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

.channel-picture {
  width: 50px;
}

.video-info {
  flex: 1;
}

.profile-picture {
  width: 36px;

  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 12px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-info-container {
  display: flex;
}

.video-time {
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  padding: 2px 4px 2px 4px;
  border-radius: 2px;
}